/* ==========================================================================
                           General
========================================================================== */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    background-color: rgb(39, 75, 75);
}

$main-textcolor: white;

/* ==========================================================================
                           Nav section
========================================================================== */
header {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    h1 {
        font-size: 5rem;
        font-weight: 800;
        font-family: sans-serif;
        padding: 4rem;
    
    }
}

/*
header h1 {
    font-size: 5rem;
    font-weight: 800;
    font-family: sans-serif;
    padding: 1rem;

}
*/
nav {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: #a39452;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }

    li {
        list-style: none;
        font-size: 2.3rem;
        font-family: sans-serif;  
    }
    
    a {
        text-decoration: none;
        color: $main-textcolor;
    }
}


/* ==========================================================================
                           Main section
========================================================================== */

main {
    display: flex;
    justify-content: space-around;
    height: 85vh;

    h1 {
        color: $main-textcolor;
    }

    p {
        color: $main-textcolor;
    }

    .hero-image {
        width: 45%;
        min-height: 60%;
        background-image: url(/CSSDay5Basic/Images/elon-musk.jpg);
        object-fit: cover;
    }
}


figure {
    background-image: url();
      width: 45%;
}
    
img {
     
    
}

/* ==========================================================================
                           Footer section
========================================================================== */
