/* ==========================================================================
                           General
========================================================================== */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    background-color: rgb(39, 75, 75);
}

$main-textcolor: white;
$back-color: #a39452;

/* ==========================================================================
                           Nav section
========================================================================== */
header {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    h1 {
        font-size: 5rem;
        font-weight: 800;
        padding: 4rem;
    
    }
}

/*
header h1 {
    font-size: 5rem;
    font-weight: 800;
    font-family: sans-serif;
    padding: 1rem;

}
*/
nav {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: $back-color;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }

    li {
        list-style: none;
        font-size: 2.3rem;
        font-family: sans-serif;  
    }
    
    a {
        text-decoration: none;
        color: $main-textcolor;
    }
}


/* ==========================================================================
                           Main section
========================================================================== */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
    width: 96%;

    .hero-text {
        width: 48%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;

        h1 {
            text-align: center;
            color: $main-textcolor;
            font-size: 3rem;
        }
    
        p {
            color: $main-textcolor;
            font-size: 2.3rem;
        }
    }

    figure.hero-image {
        width: 48%; 
        // max-height: 100%;
        // overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            /*
            min-height: 100%;*/
            object-fit: contain;  
        }

        figcaption {
            color: $main-textcolor;
            font-size: 1.5rem;
        }
    }
}

/* ==========================================================================
                           Footer section
========================================================================== */


footer {
    background-color: $back-color;

    h1 {
        text-align: center;
        color: $main-textcolor;
        padding: 2.5rem;
    }
}